
$side-bar-color: rgb(36, 37, 75);
$side-bar-logo-color: rgb(56, 57, 106);
$side-bar-active-item-color: rgb(103, 168, 246);

$primary-font: 'Roboto Regular', Roboto, sans-serif;
$primary-font-bold: 'Roboto Bold', Roboto, sans-serif;
