
$side-bar-color: #61A5C2;
$side-bar-logo-color: #468FAF;
$side-bar-active-item-color: #468FAF;

$primary-font: 'Roboto Regular', Roboto, sans-serif;
$primary-font-bold: 'Roboto Bold', Roboto, sans-serif;
