$cell-size: 10px;
$week-end-bg-color: #e7eff5;

.error-alert {
  position: absolute;
}

.table-wrapper {
  overflow-x: scroll;
  margin: auto;
  overflow-y: visible;
  padding: 0;

  display: flex;
  flex: 1 1 auto;
  justify-content: stretch;
  max-width: 80vw;

  table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    white-space: nowrap;

    .fixed-column {
      position: sticky;
      left: -5px;
      margin-left: -5px;
      background-color: hsl(0, 0%, 95%);
      visibility: visible;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      z-index: 2;
    }

    .markers {
      .arg-1 {
        position: absolute;
        bottom: -4px;
        left: 8px;
      }

      .arg-2 {
        position: absolute;
        top: -2px;
        left: 5px;
        transform: rotate(30deg);

        hr {
          margin-top: 0;
        }
      }
    }
  }
}

.accommodation-cell {
  display: flex;
  vertical-align: center !important;

  border: 1px solid black;
  padding: 0.5em 1em !important;
  margin: 0;
  min-width: $cell-size;
  max-width: $cell-size;
  min-height: $cell-size;
  max-height: $cell-size;

  .label {
    z-index: 10000;
    position: absolute;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: inherit;

    color: white;
    font-weight: bold;
  }

  &.week-end {
    background-color: $week-end-bg-color;
  }

  &.today {
    background-color: hsl(0, 100%, 80%);
  }

  &.month {
    font-size: 1.2em;
    font-weight: bold;
  }

  .blocker-wrap {
    position: absolute;
    padding: 1.5em;
    top: -7.5px;
  }

  & > .accommodation-line {
    padding: 0;
    margin: 0;
    width: inherit;

    display: flex;
    justify-content: center;
    align-items: stretch;

    height: 1.75em;
    transform: skew(-20deg);

    .label.end {
      display: flex;
      justify-content: flex-end;
      padding-right: 5%;
    }
  }

}
