
.creation-modal input {
  font-size: 1.5em;
}

.creation-modal label {
  font-size: 1.2em;
}

.confirmation-card {
  width: 25vw;
  height: 20vh;
  padding: 2vh 2vw;
  margin: 10% auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .create-actions {
    display: flex;
    justify-content: end;
  }
}

.creation-card {
  width: 40vw;
  height: 50vh;
  padding: 2vh 2vw;

  margin: 10% auto;

  .calculation {
    margin: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .create-actions {
      display: flex;
      justify-content: space-between;
    }

    .input-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1em;

      .input-item {
        margin: 0.5em 0;
      }
    }
  }

  .create-accommodation-form {
    display: flex;
    align-items: stretch;

    .space-between {
      display: flex;
      justify-content: space-between;
    }
  }
}