
.confirmation-card {
  width: 25vw;
  height: 20vh;
  padding: 2vh 2vw;
  margin: 10% auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .create-actions {
    display: flex;
    justify-content: end;
  }
}

.accommodation-modal {
  margin: 5% auto;

  width: 40vw;
  min-width: 640px;

  form {
    padding: 1em 0;

    .input-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.2em;

      .input-item {
        margin: 0.25em 1em;
        width: 100%;
        font-size: 1.2em;
      }
    }

    .calculation {
      margin: 0.25em 2em;

      span {
        font-weight: bold;
      }
    }

    .form-content {
      margin-bottom: 2em;
    }

    .form-actions {
      display: flex;
      justify-content: space-between;
      margin: 0.25em 1.5em;

      .action-group {
        width: 100%;
        display: flex;

        &.right {
          justify-content: flex-end;
        }
      }
    }

  }
}
